extends layout.pug 


block contactspage
    h1 Contact List 
    a(href="/create") Create new contact 
    table 
        thead 
            strong 
                th Name 
                th Phone 
                th Email 
                th Address 
                th Contact 
        tbody 
            each item in contacts 
                tr 
                    td 
                        a(href='/'+ item.id) #{item.firstname} #{item.lastname}
                    td #{item.phone}
                    td #{item.email}
                    td #{item.street}, #{item.city}, #{item.state}, #{item.zip}, #{item.country} 
                    
                    td 
                        input(checked = item.Contact_By_Phone ==1, type ='checkbox', disabled) 
                        | Phone 
                        br
                        input(checked = item.Contact_By_Email ==1, type = 'checkbox', disabled) 
                        | Email 
                        br
                        input(checked = item.Contact_By_Mail ==1, type = 'checkbox', disabled) 
                        | Mail


//- headers like the docttype does not have to be written because they will orginate from layout 
//- so checkbox is initially diabled and can be enabled only through the edit, in a different page. 
//- based on the checked ==1 the checkbox will be checked or not, so determines the status of the checkbox?
//- selects the user's specfic userid and based on that displays information
//- to fetch the specfic address in detail. 
//- a for loop in pug that loops through the contacts array db